<div class="mt-4">
    <div>
      <h3>Khóa học đã xóa</h3>
      <a href="/me/stored/courses" class="trash-course">
        <i class="fa-solid fa-arrow-left"></i>
        Danh sách khóa học
      </a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a class="btn btn-link btn-restore" href="" data-id="{{this._id}}" role="button">Khôi phục</a>
                    <a class="btn btn-link" href="" role="button" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                    </form>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                <span class="noCourseMessage">Thùng rác trống.</span>
                <a href="/courses/create" class="">Đăng khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Modal delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn chắn chắn muốn xóa vĩnh viễn khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa khóa học</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form delete course --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
<form name="forceDelete-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteForm = document.forms['delete-course-form']
    var restoreForm = document.forms['restore-course-form']
    var deleteCourseBtn = document.querySelector('#btn-delete-course')
    var restoreBtn = $('.btn-restore')

    $('#delete-course-modal').on('show.bs.modal', function(event) {
      var btn = $(event.relatedTarget)
      courseId = btn.data('id')
    });

    deleteCourseBtn.onclick = function() {
      deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
      deleteForm.submit()
    };
    
    restoreBtn.on('click', function(e) {
      courseId = $(this).data('id')
      e.preventDefault()
      restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`
      restoreForm.submit()
    })
  });
</script>